
* {
  margin: 0;
  padding: 0;
}
a {
  font-weight: 500;
  color: #178ce6;
  text-decoration: inherit;
}
a:hover {
  color: #178ce6;
}
input, a {
  outline: none;
}
ul, ol, li {
  list-style: none;
}
